footer {
    width: 100%;
    padding: 100px 15%;
    background: #1ea3e6;
    color: #1ea3e6;
    display: flex;
}

footer img {
    cursor: pointer;
}

footer nav {
    font-size: 25px;
    margin-left: 750px;
    width: 32%;
    display: flex;
    justify-content: space-between;
}

footer nav a {
    color: #FFFFFF;
    font-family: 'Mulish-Bold', sans-serif, serif;
}

.blue-T {
    background: url(../images/customer-testimonial/white-ellipse.svg) no-repeat;
    padding-bottom: 150px;
    margin-left: 80px;
}

.name-of-company {
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Mulish-Bold', sans-serif, serif;
    margin-left: 10px;
}
