.customer-testimonial-background {
    position: relative;
    margin-left: 7.78%;
    margin-top: 1300px;
}

.blue-rectangle {
    position: absolute;
    left: 20%;
    margin-top: 1430px;
}

.customer-testimonial-title {
    position: absolute;
    left: 36%;
    margin-top: 1480px;
}

.white-line-under-title {
    position: absolute;
    left: 48%;
    margin-top: 1540px;
}

.customer-photo {
    position: absolute;
    left: 28%;
    margin-top: 1630px;
    border-radius: 100px;
    border-color: white;
}

.customer-name {
    position: absolute;
    left: 36%;
    margin-top: 1662px;
}

.customer-role {
    position: absolute;
    left: 36%;
    margin-top: 1692px;
}

.customer-quote {
    position: absolute;
    left: 50%;
    margin-top: 1640px;
}

.left-vector {
    position: absolute;
    left: 41%;
    margin-top: 1895px;
}

.right-vector {
    position: absolute;
    left: 55.5%;
    margin-top: 1895px;
}

.dot-under-blue-background {
    position: absolute;
    left: 51.5%;
    margin-top: 1900px;
}

.dot-under-blue-background-1 {
    position: absolute;
    left: 49.5%;
    margin-top: 1900px;
}

.dot-under-blue-background-2 {
    position: absolute;
    left: 47.5%;
    margin-top: 1900px;
}

.dot-under-blue-background-3 {
    position: absolute;
    left: 45.5%;
    margin-top: 1900px;
}


















